/* ======== grid ===============*/

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* ===== After taking out bootstrap ===== */

a {
  color: #0275d8;
  text-decoration: none;
}

.form-inline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}


.nav-item {
  float: left;
  padding: 15px;
}

.label {
  font-size: 10px;
  font-style: italic;
  color: #fff;
  padding: 1px 3px;
  border-radius: 5px;
}

/* ==============================*/


html {
  overflow-y: scroll
}

/*body {
  padding: 0;
  font-family: sans-serif;
  background-color: whitesmoke;
}*/

body {
  padding: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #292b2c;
  background-color: #fff;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer {
  text-align: center;
  margin: 5px 0;
}

.container {
  display: flex;
  width: 100%;
}

.container-left {
  justify-content: flex-end
}

ul.desktop-ul {
  padding-left: 10px;
}

ul.list-group {
  padding: 0;
}

li {
  list-style-type: none;
}

li[disabled] {
  opacity: .4;
  cursor: not-allowed;
  pointer-events: none;
}

button {
  border: transparent;
  padding: .5em 1em;
  background-color: #E6E6E6;
}

button[disabled] {
  opacity: .4;
  cursor: not-allowed;
  pointer-events: none;
}

.button-small {
  font-size: 85%;
}

.button-primary,
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    /*border-radius: 4px;*/
    /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);*/
}

.button-primary {
  background-color: #0078e7;
}

button.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.main-box {
  background-color: #fff;
  border-color: #fff;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  padding: 7px;
  min-height: 570px;
}

.fixed-box {
  height: 560px;
  margin-bottom: 0;
  overflow: scroll;
}

div.row > div {
  padding: 0 4px;
}

.word {
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer; 
  padding: 2px;
}

li.list-group-item, .tree{
  cursor: pointer;
  padding: 5px;
}

button.tree-button {
  letter-spacing: 0.3px;
  padding: 2px 5px;
  margin-left: 3px;
  color: #444;
  background-color: #fff;
}

button.tree-button.on {
  background-color: #666;
  color: #fff;
}

button:focus, select:focus {
  outline:0 !important;
}

.select {
  color: #444;
  margin-left: 3px;
}

.form-control {
  width: 100px;
}

li.tree {
  font-size: 12px;
  padding: 4px;
  margin-left: 12px;
  margin-bottom: -1px;
  max-width: 550px;
}

li.tree:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

li.tree:last-child {
  margin-bottom: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

li.tree-info {
  background-color: whitesmoke;
}

li.tree-active {
  color: #fff;
  background-color: gray;
}

li.tree.word {
  font-size: 16px;
}

div.tree-box {
  font-size: 12px;
/*  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #ddd;*/
  margin: 4px 0; 
  padding: 6px;
  max-width: 550px;
}

button.trash {
  font-size: 21px;
  color: #fff;
  float: right;
  padding: 0 5px;
  margin-top: -3px;
  cursor: pointer;
  background-color: transparent;
}

.active-link {
  color: #23527c;
  text-decoration: underline;
}

.example {
  margin: 10px 0;
}

.project-form {
  margin-bottom: 5px;
  margin-left: 15px;
}

input.form-control.title-form {
  width: 500px;
  height: 35px;
  max-width: 100%;
  padding: 5px;
}

.output {
  padding: 7px 0 0 7px;
  -webkit-transition: all 250ms ease;;
  transition: all 250ms ease;
}

.output.correct-output {
  color: #10E9C8;
  transition: all 250ms ease;
}

.modal-container {
  padding: 20px;
}

.comp-children {
  margin-bottom: 10px;
}

.comp-choice {
  padding: 5px;
}

.list-group-item.Noun, .tree-box.Noun, .Noun {
  color: #fff;
  background-color: #88725D;
}

.list-group-item.Pronoun, .tree-box.Pronoun, .Pronoun {
  color: #fff;
  background-color: #845A31;
}

.list-group-item.Determiner, .tree-box.Determiner, .Determiner {
  color: #fff;
  background-color: #603F39;
}

.list-group-item.Verb, .tree-box.Verb, .Verb {
  color: #fff;
  background-color: #E80046;
}

.list-group-item.Be, .tree-box.Be, .Be {
  color: #fff;
  background-color: #FF4900;
}

.list-group-item.Adjective, .tree-box.Adjective, .Adjective {
  color: #fff;
  background-color: #890089;
}

.list-group-item.Adverb, .tree-box.Adverb, .Adverb {
  color: #fff;
  background-color: #7CADA8;
}

.list-group-item.Preposition, .tree-box.Preposition, .Preposition {
  color: #fff;
  background-color: #2C7EB4;
}

.list-group-item.Conjunction, .tree-box.Conjunction, .Conjunction {
  color: #fff;
  background-color: #0C980C;
}

.Sentence,.Clause,.ClauseContainer,.NounContainer,.VerbContainer,
.NounClause,.AdjectiveClause, .AdverbClause, .Possessive,.Infinitive,
.Gerund,.Participle,.basic {
  color: #fff;
  background-color: #aaa;
}


 /* =============== Animation ==================*/

.tree-enter {
  opacity: 0.01;
}
.tree-enter.tree-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.tree-leave {
  opacity: 1;
}
.tree-leave.tree-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}