.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.word {
  margin-right: 10px;
  cursor: pointer; 
}

.list-group-item, .tree{
  cursor: pointer;
}

.list-group-item.Noun {
  color: #fff;
  background-color: #88725D;
}

.list-group-item.Pronoun {
  color: #fff;
  background-color: #845A31;
}

.list-group-item.Determiner {
  color: #fff;
  background-color: #603F39;
}

.list-group-item.Verb {
  color: #fff;
  background-color: #C6744F;
}

.list-group-item.Adjective {
  color: #fff;
  background-color: #9AB4A8;
}

.list-group-item.Adverb {
  color: #fff;
  background-color: #7CADA8;
}

.list-group-item.Preposition {
  color: #fff;
  background-color: #56C9BF;
}

button.button {
  margin-left: 5px;
  padding: 0px 5px 0px 5px;
}

li.tree {
  padding-left: 30px;
}

div.tree-box {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #ddd;
  margin: 4px;
  padding: 4px;
  max-width: 600px;
}

/*span.label {
  position: relative;
  right: 40px;
}
*/


